<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head.ejs') %>
    <title>LinuxHub | Test</title>
</head>
<body>
    <!--navbar-->
    <%- include('./master/header.ejs') %>
    <!-- Title page Header -->
    <nav class="text-center text-light ctWallPaper justify-content-center align-items-center d-flex">
        <h1 id="contentType" class="titlePage">Test</h1>
    </nav>
    <nav class="container-fluid center py-3 pt-2 text-center">
        <div class="py-5 container p-4 PlatformContent center">
            <test-level level="Novice" src="#"></test-level>
            <test-level level="Beginner" src="#"></test-level>
            <test-level level="Intermediate" src="#"></test-level>
            <test-level level="advanced" src="#"></test-level>
          </div>
    </nav>

    <!-- footer -->
    <%- include('./master/footer.ejs') %>
    <script src="/javascripts/scriptSecond.js"></script>
</body>
</html>