.ctWallPaper{
    background: url(../images/welcomeWP.jpeg) no-repeat;
    height:30vh;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 400px 50px black;
}
.titlePage{
    font-size:3.5rem;
}
/* select bar */
.types{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:95%;
}
/* search bar */
.searchBar{
    justify-content: center;
    align-items:center;
    gap:10px;
}
.filter{
    border-radius:20px;
}
/* The list of each content (courses,quizzes,tutorials) */
.listCards{
    display:grid;
    gap:20px;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows:repeat(auto-fill,minmax(250px,1fr));
}
