<footer class="bg-dark center text-light text-center p-3">
  <h6>Made by <a href="https://instagram.com//tayeb_abderahim" target="_blank" class="text-primary">Abderahim</a> | CopyRight &copy; 2024</h6>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="/javascripts/HTML_tags.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/scriptSecond.js"></script>