<nav class="navbar except-height navbar-expand-lg navbar-light bg-light">
    <img src="/images/LinuxHub.png" alt="LinuxHub" width="65">
    <a class="navbar-brand" href="/">LinuxHub</a>
    <button class="navbar-toggler" onclick="$('.nav').slideToggle()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/learn/quizzes">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/learn/tutorials">Tutorials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/learn/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/test">Tests</a>
        </li>
      </ul>
    </div>
</nav>